* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
    padding: 20px 12px;

}
h1{
margin-bottom: 12px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
li{
    background:bisque;
    padding: 8px 16px;
    border-radius: 8px;
    list-style:none;
}